{% extends 'base.html.twig' %}
{% block title %}Jungle food{% endblock %}


{% block body %}
        {% include "components/navbar.html.twig" %}


<div class="d-flex align-items-center split justify-content-center">
   

<main class="form-signin text-center">


  <h1 class="h3 mb-3 fw-normal">Create new Recipe</h1>

    {{ include('recipes_user/_form.html.twig') }}

    <a class="usrbtn2 wdthb" href="{{ path('app_recipes_user_index') }}">
    Back to list</a>
    



</main>

</div>
{% endblock %}