{% extends 'base.html.twig' %}

{% block title %}About Jungle food
{% endblock %}

{% block body %}
	{% include "components/navbar.html.twig" %}

	


<div class="d-flex row text-center align-items-center split justify-content-center">

    <h1 class="weare col-12"></h1>

	
	
		<h6 class="weare2">Project from Team 1<br>
		 Theme:	Mealplanner<br>
		Require:			Log in<br>
		User: CRUD Recipes (own)<br>
		Admin: Recipes & Users<br>
		All: CRUD Mealplanner<br>
		Nice to have: Rating, Shopping Cart, Nutrition & Allergen Info<br>
		Technik: Symfony<br>
		SCSS / Illustrator<br>
		GitHubOrganisation: Austria Events Community<br>
		</h6>

		<td>April 2022</td>
	

	</div>
{% endblock %}
