{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
	{% include "components/navbar.html.twig" %}

	


       <div class="d-flex row text-center align-items-center split justify-content-center">

             <h1 class="weare col-12 nsl5">We are:</h1>

	
	
		<h6 class="weare2">PETRA SEDLACZEK: Design/Founds<br>
		 <p class="twoc">E-mail: p.sedlaczek@drei.at<p><br>
		SANJA KOSTANTINOVIC: Database/Backend<br>
		 <p class="twoc">E-mail: sanja.1692@gmail.com<p><br>
		GABRIEL SKRABA: Design/Frontend<br>
		 <p class="twoc">E-mail: gabriel.v@gmail.com<p><br>
		STEPHAN REINDL: PJ-Lead/Backend<br>
		 <p class="twoc">E-mail: stephan.reindl@gmx.at<p><h6>
               

	

	</div>

       
       
{% endblock %}